In [2]:
import pandas as pd
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]
GradeList = zip(names,grades,bsdegrees,msdegrees,phddegrees)
df = pd.DataFrame(data=GradeList, columns =['Name', 'Grade', 'BS', 'MS', 'PhD'])
df

      Name  Grade  BS  MS  PhD
0      Bob     76   1   2    0
1  Jessica     95   1   1    1
2     Mary     77   0   0    0
3     John     78   0   0    0
4      Mel     99   1   0    0

In [3]:
df['Grade'].count()

5

In [5]:
df['Grade'].mean()

85.0

In [6]:
df['Grade'].std()

11.067971810589327

In [7]:
df['Grade'].min()

76

In [8]:
df['Grade'].max()

99

In [9]:
df['Grade'].quantile(.25)

77.0

In [11]:
df['Grade'].quantile(.5)

78.0

In [12]:
df['Grade'].quantile(.75)

95.0

In [13]:
df['Grade'].median()

78.0

In [14]:
df['Grade'].mode()

0    76
1    77
2    78
3    95
4    99
dtype: int64

In [15]:
df['Grade'].var()

122.5